<!-- Modal -->
<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ratingModalLabel">Agregar rating</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Id de la película:</label>
                <input type="text" id="fmovieId" name="fname" style="width: 100%;">
                <label for="name">Calificación: </label>
                <input type="text" id="frating" name="fr" style="width: 100%;">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button id="saveRatingBtn" type="button" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
  </div>